#Ignoring files and folders by github

#build directories
bin
build
lib
sconsbuild
forefire2

#python
__pycache__

# compilation files
*.dblite
*.o

# editors
.vscode

#mac files
**/.DS_Store

# jupyter notebooks checkpoints
.ipynb_checkpoints
CMakeLists.txt
